QMainWindow{
  background: orange;
}

QMessageBox{
  background: orange;
}

QMessageBox QLabel{
  font-size: 20px;
}

QMenuBar{
  background: rgb(185, 121, 3);
}

QListWidget{
  color: black;
  background: white;
  border: 1px solid black;
  border-radius: 6px;
}

QPushButton{
  color: black;
  background: yellow;
  border: 1px solid black;
  border-top-left-radius: 6px;
}

QPushButton:hover{
  background: rgb(190, 190, 2);
}

QPushButton:pressed{
  background: rgb(51, 51, 0)
}

QPushButton:disabled{
  background: rgb(97, 97, 17);
  color: rgb(184, 184, 184);
}

QLineEdit{
  color: black;
  background: white;
  border: 1px solid black;
  border-radius: 6px;
}

QTextEdit{
  color: black;
  background: white;
  border: 1px solid black;
  border-radius: 6px;
}

QPushButton[cssClass="upBut"]{
  background-color: transparent;
  border: transparent;
  margin: 32px;
}

QPushButton[cssClass="upBut"]:hover{
  border: solid;
  background-color: rgba(128, 128, 128, 0.513);
}

QPushButton[cssClass="upBut"]:pressed{
  background: rgba(87, 87, 87, 0.513);
}

QLabel#logoMDP{
  background: white;
  border: 1px solid black;
  border-radius: 6px;
}