QMainWindow{
  background: orange;
}

QMessageBox{
  background: orange;
}

QMessageBox QLabel{
  font-size: 20px;
}

QMenuBar{
  background: rgb(185, 121, 3);
}

QMenuBar::item{
  background: rgb(221, 144, 0);
  border: 1px solid black;
  border-bottom: none;
  padding: 4px;
  border-top-left-radius: 5px;
}

QMenuBar::item:selected, QMenuBar::item:pressed{
  background: rgb(185, 121, 3);
}

QMenu{
  background: rgb(185, 121, 3);
}

QMenu::item{
  background: yellow;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

QMenu::item:selected{
  background: rgb(190, 190, 2);
}

QMenu::item:pressed{
  background: rgb(51, 51, 0);
}

QTabWidget::pane{
  border: 1px solid black;
  border-radius: 3px;
}

QTabBar::tab{
  background: yellow;
  border: 1px solid black;
  border-top-left-radius: 6px;
  padding: 5px;
  padding-left: 7px;
}

QTabBar::tab:!selected{
  margin-top: 4px;
}

QTabBar::tab:selected{
  background: rgb(211, 211, 1);
}

QWidget[cssClass="tabWidget"]{
  background: yellow;
  border: none;
}

QListWidget{
  color: black;
  background: white;
  border: 1px solid black;
  border-radius: 6px;
}

QPushButton{
  color: black;
  background: yellow;
  border: 1px solid black;
  border-top-left-radius: 6px;
  padding: 4px;
}

QPushButton:hover{
  background: rgb(190, 190, 2);
}

QPushButton:pressed{
  background: rgb(51, 51, 0)
}

QPushButton:disabled{
  background: rgb(97, 97, 17);
  color: rgb(184, 184, 184);
}

QRadioButton{
  font-size: 15px;
  font: bold;
}

QRadioButton::indicator{
  width: 15px;
  height: 15px;
}

QRadioButton::indicator::unchecked{
  image: url(./Image/radio_uncheck.png)
}

QRadioButton::indicator::unchecked:hover{
  image: url(./Image/radio_uncheck_hover.png)
}

QRadioButton::indicator::checked{
  image: url(./Image/radio_check.png)
}

QLineEdit{
  color: black;
  background: white;
  border: 1px solid black;
  border-radius: 6px;
}

QLineEdit[cssClass="mdpLineEdit"]{
  font-size: 15px;
}

QTextEdit{
  color: black;
  background: white;
  border: 1px solid black;
  border-radius: 6px;
}

QPushButton[cssClass="upBut"]{
  background-color: transparent;
  border: transparent;
  padding: 32px;
  margin-bottom: 0;
}

QPushButton[cssClass="upBut"]:hover{
  border: solid;
  background-color: rgba(128, 128, 128, 0.513);
}

QPushButton[cssClass="upBut"]:pressed{
  background: rgba(87, 87, 87, 0.513);
}

QLabel#logoMDP{
  background: white;
  border: 1px solid black;
  border-radius: 6px;
}